@import "tailwindcss";

:root {
  /*Spaces*/
  --flow-space: 2rem;
  /*Colors*/
  --background: #ffffff;
  --foreground: #171717;
  --background-clr: linear-gradient(294.28deg, #c8dce6 0%, #b6ccda 100%);

  /*Font size*/
  --h1-font-size: 3rem;
  --link-font-size: 1.5rem;

  /*Font weights*/
  --font-weight: bold;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background-clr);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  margin-inline: 3rem;
}

.main-layout {
  display: grid;
  grid-template-columns: 1fr 1fr auto;
  grid-template-rows: auto;
}
.flow > * + * {
  margin-top: var(--flow-space, 1rem);
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-block: 1rem;
}
.nav-list {
  display: flex;
  flex-direction: row;
  gap: 2rem;
}

.icon-container {
  display: flex;
  gap: 0.5rem;
  width: 2.5rem;
  margin-inline-end: 1rem;
}

.info-card-wrapper {
  display: grid;
  grid-template-columns: subgrid;
  grid-column: 1;
}
.info-card-container {
  display: flex;
  flex-direction: column;
  width: fit-content;
  > * + * {
    margin-top: var(--flow-space, 1rem);
  }
}
.info-card-heading {
  font-size: var(--h1-font-size);
}

.Buy-button {
  border: 2px solid white;
  width: fit-content;
  padding-inline: 7rem;
  padding-block: 1rem;
  border-radius: 1.5rem;
  color: white;
  font-weight: var(--font-weight);
  font-size: var(--link-font-size);
  --flow-space: 3rem;
}

.arrow-container {
  display: flex;
  align-items: center;
  gap: 0.2rem;
  --flow-space: 3rem;
}

.small-product-pics-container {
  display: flex;
  border: solid pink;
  gap: 2rem;
  align-items: center;
}

.small-watch-img {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* .watch-background {
  position: absolute;
  border: solid red;
  content: " ";
  z-index: -1;
  width: 120px;
  height: 70px;
  background-color: blue;
  border-radius: 0.5rem;
  top: 1.2rem;
} */

.selec-button-wrapper {
  border: solid orange;
  display: grid;
  grid-column: 3;
  height: fit-content;
  gap: 2rem;
  margin: auto;
}

/* [data-color="navy"] {
  background-color: blue;
}
[data-color="ocean"] {
}
[data-color="mint"] {
}

figure {
  position: relative;
} */
