@import "tailwindcss";

:root {
  /*Spaces*/
  --flow-space: 2rem;
  /*Colors*/
  --background: #ffffff;
  --foreground: #171717;
  --background-clr: linear-gradient(294.28deg, #c8dce6 0%, #b6ccda 100%);

  --watch-color-navy: #404354;
  --watch-color-ocean: #c0d2e1;
  --watch-color-mint: #58d7c4;

  /*Font size*/
  --h1-font-size: 3rem;
  --link-font-size: 1.5rem;

  /*Font weights*/
  --font-weight: bold;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background-clr);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  margin-inline: 3rem;
}

.main-layout {
  display: grid;
  grid-template-columns: 1fr 1fr auto;
  grid-template-rows: 1fr 1fr 1fr;
}
.flow > * + * {
  margin-top: var(--flow-space, 1rem);
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-block: 1rem;
  margin-block-end: 5rem;
}
.nav-list {
  display: flex;
  flex-direction: row;
  gap: 2rem;
}

.icon-container {
  display: flex;
  gap: 0.5rem;
  width: 2.5rem;
  margin-inline-end: 1rem;
}

.info-card-wrapper {
  /* border: solid green; */
  display: grid;
  grid-column: 1;
}
.info-card-container {
  display: grid;
  grid-template-rows: 1fr auto auto;
}
.info-card-heading {
  font-size: var(--h1-font-size);
  margin-block: 4rem;
}

.Buy-button {
  display: grid;
  border: 2px solid white;
  width: fit-content;
  padding-inline: 7rem;
  padding-block: 1rem;
  border-radius: 1.5rem;
  color: white;
  font-weight: var(--font-weight);
  font-size: var(--link-font-size);
  grid-row: 2;
}

.arrow-wrapper {
  display: grid;
  grid-row: 3;
  margin-block-start: 3rem;
}
.arrow-container {
  display: flex;
  align-items: center;
  gap: 0.2rem;
}

.product-card-container {
  display: grid;
  grid-template-rows: 1fr auto auto;
}

.product-card-image {
  display: grid;
  align-items: center;
  justify-content: center;
  margin-block: 4rem;
}

.small-product-pics-container {
  display: flex;
  gap: 4rem;
  align-items: center;
  padding-inline: 6rem;
  justify-content: center;
  margin-block-start: 3rem;
  grid-row: 4;
}

.small-watch-img {
  display: flex;
  align-items: center;
  justify-content: center;
}

.watch-background {
  position: absolute;
  content: " ";
  z-index: -1;
  width: 120px;
  height: 70px;
  border-radius: 0.5rem;
}

.selec-button-wrapper {
  display: grid;
  grid-column: 3;
  height: fit-content;
  gap: 2rem;
  margin: auto;
  align-items: center;
}
